<a href="https://colab.research.google.com/github/radanim/TIL/blob/master/chapter_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#3회차 교육 8.2(화)

In [2]:
type('apple')

str

In [3]:
tuple=('chicken','sushi','steak')
tuple

('chicken', 'sushi', 'steak')

In [4]:
type(tuple)

tuple

In [5]:
type('chicken')

str

In [6]:
type(('chicken'))

str

In [7]:
a,b,c=tuple
b

'sushi'

In [8]:
a='apple'
b='banana'
a,b=b,a
a

'banana'

In [9]:
('apple',)*3

('apple', 'apple', 'apple')

In [10]:
('apple',)+('banana','cherry')

('apple', 'banana', 'cherry')

In [11]:
'apple'*3

'appleappleapple'

In [12]:
a=(7,2)
b=(7,2,1)
a==b

False

In [13]:
a<=b

True

In [14]:
'1'<'10'

True

In [15]:
'a'<'A'

False

In [16]:
'a'<'z'

True

In [17]:
words=('you','are','so','cool')
for word in words:
  print(word)

you
are
so
cool

In [18]:
t1=('apple','banana','cherry')
t2=('dog',)
t1+t2

('apple', 'banana', 'cherry', 'dog')

In [19]:
t1

('apple', 'banana', 'cherry')

In [20]:
t2

('dog',)

In [21]:
t1+=t2 # t1=t1+t2

In [22]:
2**3

8

In [23]:
id(t1) # 변수 저장소별 식별번호, 식별자

140455147986384

In [24]:
t1+=t2
id(t1)

140455147809008

In [25]:
t1

('apple', 'banana', 'cherry', 'dog', 'dog')

In [26]:
t2

('dog',)

In [27]:
id(b)

140455086659856

In [28]:
a='apple'
b=a
id(a)

140455163134896

In [29]:
id(b)

140455163134896

In [30]:
a=a+'b'
id(a)

140455086825648

In [31]:
id(b)

140455163134896

In [32]:
a

'appleb'

In [33]:
#리스트 순차적으로 파악
#현재 위치에 새로운 요소 추가, 삭제, 갱신가능
#리스트내 동일값 반복 저장 가능

In [34]:
#리스트 끝에 추가하는건 append
#중간에 넣는것은 insert
#지우는건 dl, remove

In [35]:
a=[1,2,3,1,1,2]
a

[1, 2, 3, 1, 1, 2]

In [36]:
a[5]

2

In [37]:
a[-1]

2

In [38]:
# 리스트 빈것도 가능, 한개 이상 요소 구성 가능

In [39]:
li=[]
for li in range(1,4):
  print(li)

1
2
3

In [40]:
li=[]
for i in range(1,4):
  li.append(i)
  print(li)

[1]
[1, 2]
[1, 2, 3]

In [41]:
sum=0
for i in range(1,11):
  if i !=10:
    print(i,end = " + ")
  else:
    print(i,end = " = ")
  sum += i
print(sum)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

In [42]:
sum=0
for i in range(1,10,2):
  if i !=9:
    print(i,end = " + ")
  else:
    print(i,end = " = ")
  sum += i
print(sum)

1 + 3 + 5 + 7 + 9 = 25

In [43]:
sum=0
for i in range(2,10,2):
  if i !=8:
    print(i,end = " + ")
  else:
    print(i,end = " = ")
  sum += i
print(sum)

2 + 4 + 6 + 8 = 20

In [44]:
sum=0
for i in range(10,0,-1):
  if i !=1:
    print(i,end = " + ")
  else:
    print(i,end = " = ")
  sum += i
print(sum)

10 + 9 + 8 + 7 + 6 + 5 + 4 + 3 + 2 + 1 = 55

In [45]:
sum=0
for i in range(10,0,-2):
  if i !=2:
    print(i,end = " + ")
  else:
    print(i,end = " = ")
  sum += i
print(sum)

10 + 8 + 6 + 4 + 2 = 30

In [46]:
li = list('cat')
for i in range(len(li)):
  print(li[i])

c
a
t

In [47]:
li = list('cat') # 2 1 0  range(len(li)-1,-1,-1) 
for i in range(len(li)-1,-1,-1):
  print(li[i])

t
a
c

In [48]:
the_day='12/18/2001'
the_day.split('/')

['12', '18', '2001']

In [49]:
test='a/b//c/d///e'
test.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [50]:
#offset 떨어진 정도 변위

In [51]:
fruit=['apple','banana','cherry']
fruit[0:2]

['apple', 'banana']

In [52]:
fruit[:]

['apple', 'banana', 'cherry']

In [53]:
fruit[::2] # 시작위치:끝위치:두칸마다 선택

['apple', 'cherry']

In [54]:
#리스트 정렬하기
fruits=['banana','apple','cherry']
fruit.sort() #결과 반환하지 않음.
fruit

['apple', 'banana', 'cherry']

In [55]:
#리스트 반대로 뒤집기
fruits=['apple','banana','cherry']
fruits.reverse() #결과를 반환하지 않는다.
fruits

['cherry', 'banana', 'apple']

In [56]:
fruits=['apple','banana','cherry']
fruits.insert(2,'mango') #삽입위치, 항목 
print(fruits)

['apple', 'banana', 'mango', 'cherry']

In [57]:
fruit=['apple','banana','cherry']
fruits.insert(-3,'kiwi') # 삽입위치: 끝을 넘는 offset은
fruits

['apple', 'kiwi', 'banana', 'mango', 'cherry']

In [58]:
['apple']+['banana'] #extend 함수로 리스트 병합 가능

['apple', 'banana']

In [59]:
fruits1 = ['apple','banana','cherry']
fruits2 = ['tomato','mango','peach']
fruits1.append(fruits2)
fruits1
fruits1.extend(fruits2)
fruits1

['apple',
 'banana',
 'cherry',
 ['tomato', 'mango', 'peach'],
 'tomato',
 'mango',
 'peach']

In [60]:
fruit['apple','banana','cherry']
fruits[0]='grape'

TypeError: ignored

In [ ]:
numbers=[1,2,3,4]
numbers[2:4]=[1,2]
numbers

In [ ]:
numbers=[1,2,3,4]
numbers[1:3]='what?'
numbers

In [ ]:
numbers=[1,2,3,4]
del numbers[1] #리스트 삭제, del 명령어 
numbers

In [ ]:
#del과 remove 차이, del은 위치로 삭제, remove는 값을 삭제

In [ ]:
numbers=[1,2,3,4,2]
numbers.remove(2) #2라는 값을 찾아서 삭제, 여러개 있으면 맨 앞 하나만 
numbers

In [ ]:
numbers=[1,2,3,4,2,2] #길이가 6
for i in numbers [:]:
  if i ==2:
    numbers.remove(i)

print(numbers)

In [ ]:
numbers=[1,2,3,4]
for i in range(len(numbers)):
  numbers.pop() #pop(-1)와 동일
  print(numbers)
# pop은 스택구조 가장 마지막 값이 먼저 나감 
# last in first out 스택(stack) 구조 
# first in first out 큐(queue) 구조

In [ ]:
numbers=[1,2,3,4,2,2,2,3,3]
num=int(input())
i=0
while i < len(numbers): 
  if (numbers[i] == num):
   del numbers[i]
  else:
   i+=1

numbers

In [ ]:
a=[1,2,3,4,2,23,2,3,2,3,23,3]
b=input()
c=int(b)
for i in range(len(a)):
  a.remove(c)
  if a[-1]!=c:
    break
print(a)

In [ ]:
numbers=[1,2,3,4,2]
no=input("수:")
no=int(no)
numbers2=[]
for

In [ ]:
numbers=[1,2,3,4]
numbers.clear()
numbers

In [ ]:
numbers=[1,2,3,4]
numbers.index(1) # 1이라는 값이 첫번째 위치해 있다.

In [ ]:
# index() 메서드는 같은 값이 두개 이상이면 첫번째 위치 반환
numbers=[1,2,3,4,2,2]
numbers.index(2)

In [ ]:
numbers=[1,2,3,4]
1 in numbers

In [ ]:
numbers=[1,2,3,4,2,2]
numbers.count(2)

In [ ]:
#값을 입력받아 그 값이 list에 몇개가 들어 있는지?
#그리고 몇번 위치에 있는지를 리스트로 만드시오. 

numbers=[1,2,3,4,2,2]
numbers.count(int(input()))

In [ ]:
numbers=[1,2,3,4,2,2]
numbers.index(int(input()))

In [ ]:
numbers=[1,2,3,4,2,2]
no=input("수:")
no=int(no)
print(numbers.count(2))
for i in range(len(numbers)):
  if no == numbers[i]:
    print(i,end=' ')

In [ ]:
numbers=[1,2,3,4]
'_'.join(numbers)
# numbers 안에 있는 문자열들을 _로 연결
# 문자열 대상! 정수불가!!

In [ ]:
numbers=['1','2','3','4']
joined='_'.join(numbers)
joined

In [ ]:
sep=joined.split('_')
sep

In [ ]:
# sort() 메소드: 리스트 내부적으로 정렬
# sorted() 함수:리스트의 정렬된 복사본 반환, 원본은 불변

In [ ]:
fruits=['kiwi','apple','banana','mango','cherry']
sorted(fruits) # 정렬된것만 보여주고 바뀌지는 않음.
fruits

In [ ]:
fruits=['kiwi','apple','banana','mango','cherry']
fruits.sort()
fruits

In [ ]:
a=[1,2,3]
b=a #같은곳
c=a.copy() #복사본
d=list(a) #qhrtkqhs
e=a[:]

In [ ]:
a[0]='Life is good'
a

In [ ]:
import copy
a=[1,2,[8,9],4]

a[2][1]=10
b=a # 같은 곳
c=a.copy(),deepcopy()
d=list(a)
e=a[:]

In [ ]:
import copy
a

In [ ]:
import copy
b

In [ ]:
import copy
c

In [ ]:
d=list(a)
d

In [ ]:
e=a[:]
e

In [ ]:
fruits=['chicken','sushi','steak']
food=input()
fruits.append(food)
for f in fruits:
  print(f)

In [ ]:
f_list= [ ]
no=input("음식의 수: ")
no=int(no)

for i in range(no):
  f=input("좋아하는 음식: ")
  f_list.append(f)
print("당신이 좋아하는 음식은",f_list,"이군여.")

In [ ]:
for i in range(10):
  for j in range(10):
    print(i*j=ij)

In [ ]:
f='apple'
f.startswith('b')

In [ ]:
fruits=['apple','cherry','banana']
for f in fruits:
  if f.startwith('c'):
    print("I will give you this one that starts with a 'c'")
    break
  else:
    print(f)

In [ ]:
#여러 시퀀스 순회하기: zip()

In [ ]:
numbers=[2,3,4,5]
fruits=['apples','bananas','cherries']
days=['Monday','Tuesday','Wednesday']

for number, fruit, day in zip(numbers, fruits, days):
  print('I eat',number,fruit, 'on',day+',')

In [ ]:
numbers=[2,3,4]
fruits=['apples','bananas','cherries']
f_list=list(zip(numbers,fruits))
f_list

In [ ]:
f_dict=dict(zip(numbers,fruits))
f_dict

In [ ]:
f_tuple=tuple(zip(numbers,fruits))
f_tuple

In [ ]:
a_list=[]
for i in range(5):
  a_list.append(i+1)
a_list

In [ ]:
a_list=list(range(1,6))
a_list

In [ ]:
# 리스트 컴프리헨션: 리스트안에 for문, if문 전부 활용 가능
a_list=[i**2 for i in range(1,6)]
a_list

In [ ]:
a_list=[i for i in range(1,7) if i%2==0]
a_list

In [ ]:
a_list=[i for i in range(1,10) if i%2==1]
a_list

In [ ]:
a_list=[i-1 for i in range(1,6)] # [ ] > for 역할
a_list

In [ ]:
# 숫자, 문자 + 연산 불가 / ,로 구별하여 표시 
for i in range(1,4):
  for j in range(1,3):
    print(i,"행",j,"열", end=' ')
    #열이 바뀌는 자리
  #행이 바뀌는 자리 
  print()

In [ ]:
rows=range(1,4)
columns=range(1,3)
a_list=[(r,c) for r in rows for c in columns]
a_list

In [ ]:
a=[1,2,3]
b=['korea','europe','USA']
c=[a,b]
c

In [ ]:
c[1][1]

In [ ]:
# 튜플 변동이 없어 함수가 없음.
# 공간을 작게 쓰고, 실수를 줄여줌. 자료를 고정해야할 경우
# 리스트 컴프리헨션은 있으나 튜플은 없음

In [ ]:
# ( ) 제너레이터 컴프리헨션

In [ ]:
numbers=(number for number in range(1,6)) # 제너레이터 컴프리헨션
for i in numbers:
  print(i)

In [ ]:
numbers=(number for number in range(1,6))
numbers

In [ ]:
a_list=['apple','banana','cherry']
a_list[0][0].upper()

In [ ]:
a_list=['apple','banana','cherry']
a_list=[a_list[i].upper() for i in range(len(a_list))]
a_list

In [ ]:
menu={1:"짬뽕",2:"짜장면",3:"탕수육"}
menu[1]

for i in range(1,4):
  print(i,"번 메뉴는",menu[i])

In [ ]:
fruits=dict(apple="사과", banana="바나나", cherry="체리")
fruits

In [ ]:
def #약속된 예약어 사용 불가, 문자열은 가능

In [ ]:
menu=[[1,"짬뽕"],[2,"짜장면"],[3,'탕수육']]
dict(menu)

In [ ]:
#시퀀스를 딕셔너리로 변환하기
menu=[(1,"짬뽕"),(2,"짜장면"),(3,"탕수육")]
dict(menu)

In [ ]:
m_tuple=dict(['ab','cd','ef']) # 두자씩만 분리 가능, 그 이상은 안됨.
m_tuple

In [ ]:
menu = {1:'짬뽕',2:'짜장면',3:"탕수육"}
menu['special']='유산슬'
menu

In [ ]:
fruits={'apple':'사과','mango':'망고','cherry':'체리'}
fruits['mango']='맹고' #동일한 키가 존재하면 최종 값으로 대체 
fruits

In [ ]:
fruits={'apple':'사과','banana':'바나나','cherry':'체리'}
fruits['mango']

In [ ]:
'mango'in fruits

In [ ]:
fruits.get('apple')

In [ ]:
fruits.get('mango') # 존재하지 않으면 대화식 인터프리터는 무응답

In [ ]:
fruits={'apple':'사과', 'banana':'바나나','cherry':'체리'}
fruits.keys()

In [ ]:
type(fruits.key()) # 자료형: dict_keys 객체

In [61]:
fruits={'apple':'사과', 'banana':'바나나','cherry':'체리'}
list(fruits.keys()) # 키들을 리스트로!

['apple', 'banana', 'cherry']

In [62]:
# values() - 모든 값 얻기
fruits={'apple':'사과', 'banana':'바나나','cherry':'체리'}
list(fruits.values())

['사과', '바나나', '체리']

In [63]:
#모든 키-값 얻기: items()
list(fruits.items()) #키와 값을 튜플로!

[('apple', '사과'), ('banana', '바나나'), ('cherry', '체리')]

In [64]:
#길이얻기 - len()
#딕셔너리 안의 키-값 쌍의 개수 구하기
fruits={'apple':'사과', 'banana':'바나나','cherry':'체리'}
len(fruits)

3

In [65]:
fruits={'apple':'사과', 'banana':'바나나','cherry':'체리'}
menu={1:'짬뽕',2:'짜장면',3:"탕수육"}
{**fruits, **menu} # 두개 딕셔너리 결합 **

{1: '짬뽕', 2: '짜장면', 3: '탕수육', 'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [66]:
a=[1,2]
b=[3,4]
a+b

[1, 2, 3, 4]

In [69]:
# 결합하기: update()
menu.update(fruits)
menu

{1: '짬뽕', 2: '짜장면', 3: '탕수육', 'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [70]:
first={'a':1,'b':2}
second={'c':3,'b':4}
first.update(second) # 기존에 있는 것은 최종것으로 수정
first

{'a': 1, 'b': 4, 'c': 3}

In [71]:
del first['a']
first

{'b': 4, 'c': 3}

In [72]:
len(first)

2

In [77]:
first={'a':1,'b':2}
first.pop('b')
first

{'a': 1}

In [78]:
first={'a':1,'b':2}
first.pop('c') #없는거 지우라하면 오류

KeyError: ignored

In [79]:
first={'a':1,'b':2}
first.pop('c','none') #해당되는 것이 없을때는 none 출력

'none'

In [80]:
first={'a':1,'b':2}
second = first.copy() # 다른 대상
first['c']=3
first

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# 완전히 다르게 구별하고 싶으면 deepcopy
# 안에 리스트가 있으면 copy에서 달라짐
# = 완전동일, copy 일부 다름, deepcopy 완전 다름

In [81]:
import copy
first = {'a':1, 'b':[2,3]}
second = copy.deepcopy(first) #깊은 복사, 다른 대상, deepcopy는 완전 별개다. 
first['b'][0]=4
first

{'a': 1, 'b': [4, 3]}

In [82]:
second

{'a': 1, 'b': [2, 3]}

In [ ]:
# 리스트는 인덱스 딕셔너리는 키
# 딕셔너리는 순서는 중요하지 않음. 
# 딕셔너리는 비교연산 사용불가

In [83]:
first={'a':1,'b':2}
for k in first:
  print(k)

a
b

In [85]:
first={'a':1,'b':2}
for k in first.values():
  print(k)

1
2

In [86]:
first={'a':1,'b':2}
list(first.values())

[1, 2]

In [87]:
first={'a':1,'b':2}
for k in first:
  print(first[k])

1
2

In [88]:
first={'a':1,'b':2}
for k in first.keys():
  print(first[k])

1
2

In [90]:
first={'a':1,'b':2}
for k in first.values():
  print(first)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [91]:
first={'a':1,'b':2}
for k,v in first.items():
  print(k,v)

a 1
b 2

In [96]:
li=[i for i in range(1,6)]
li

[1, 2, 3, 4, 5]

In [97]:
#튜플은 제너레이터 컴프리헨션
#셋 - 집합
#집합에는 중복이 없음. 
#딕셔너리의 키만 모아놓은 것 
#null(널), empty(빈) 셋

In [100]:
set('Beautiful Korea') # 중복없앤 집합

{' ', 'B', 'K', 'a', 'e', 'f', 'i', 'l', 'o', 'r', 't', 'u'}

In [101]:
set(['judy','jason','john','juda'])

{'jason', 'john', 'juda', 'judy'}

In [103]:
s=([1,2,3])
s.remove(3)
s

[1, 2]

In [108]:
s=[1,2,3]
s.remove(3)
s

[1, 2]

In [110]:
li = [1,2,3]
li.remove(3)
li

[1, 2]

In [115]:
# 셋은 안에 하나만 들어가야되서 괄호로 한 덩어리로 처리해줌.
fruits=set(('apple','banana','cherry'))
fruits.remove('cherry')
fruits
for i in fruits:
  print(i)

TypeError: ignored

In [141]:
menu={
    '최상':{"탕수육","water melon",'mango','apple'},
    '상':{"짬뽕","mango","grape"},
    '보통':{"짜장면","apple"}
}
for k,v in menu.items():
  if "탕수육" in v:
   print(k)

최상

In [145]:
menu={
    '최상':{"탕수육","water melon",'mango','apple'},
    '상':{"짬뽕","mango","grape"},
    '보통':{"짜장면","apple"}
}
for k,v in menu.items():
  if "mango" in v and "탕수육" not in v:
   print(k)

상

In [150]:
menu={
    '최상':{"탕수육","water melon",'mango','apple'},
    '상':{"짬뽕","mango","grape"},
    '보통':{"짜장면","apple"}
}
for k,v in menu.items():
  if "mango" in v and not ("탕수육" in v or "apple" in v):
   print(k)

# 먼저 해야할것을 괄호로 정리, 우선순위

상

In [152]:
for k,v in menu.items():
  if v&{"짬뽕","짜장면"}:
    print(k)

상
보통

In [153]:
for k,v in menu.items():
  if v&{"탕수육","watermelon"}:
    print(k)

최상

In [154]:
for k,v in menu.items():
  if "mango" in v and not ("탕수육" in v or "watermelon" in v):
   print(k)

상

In [155]:
for k,v in menu.items():
  # 문단 주석 ctrl /
  if v&{"mango"} and not v&{"탕수육","watermelon"}:
    print(k)

상

In [188]:
menu={
    '최상':{"탕수육","water melon",'mango','apple'},
    '상':{"짬뽕","mango","grape"},
    '보통':{"짜장면","apple"}
}

menu1=menu['최상']
menu2=menu['상']
menu2

{'grape', 'mango', '짬뽕'}

In [183]:
for k,v in menu.items():
   if "탕수육" in v:
    print(k,v)

최상 {'apple', '탕수육', 'water melon', 'mango'}

In [184]:
a={1,2}
b={2,3}
a&b

{2}

In [185]:
a.intersection(b) # 교집합

{2}

In [186]:
menu1&menu2

{'mango'}

In [189]:
#집합에는 중복이 없다. 
a={1,2}
b={2,3}
a|b #기호 파이프

{1, 2, 3}

In [190]:
a.union(b) #합집합

{1, 2, 3}

In [191]:
menu1|menu2 #메뉴 합집합

{'apple', 'grape', 'mango', 'water melon', '짬뽕', '탕수육'}

In [192]:
# 차집합 순수한 우리거, 자기거에서 남의거 공통부분 뺀거
a={1,2}
b={2,3}
a-b

{1}

In [193]:
a.difference(b)

{1}

In [194]:
menu1-menu2

{'apple', 'water melon', '탕수육'}

In [195]:
#대칭 차집합(Symmetric difference)
#A,B 순수하게 있는것, 둘다 공통부분 제외 
#excusive
a ^ b

{1, 3}

In [197]:
a.symmetric_difference(b)

{1, 3}

In [198]:
menu1 ^ menu2

{'apple', 'grape', 'water melon', '짬뽕', '탕수육'}

In [200]:
a={1,2}
b={2,3}
a<=b

False

In [201]:
a={1,2}
b={2,3}
a.issubset(b) #a가 b의 부분집합인가?

In [202]:
a<=a

True

In [204]:
#진부분집합(proper subset)
#완전히 포함되어야 진부분집합

In [ ]:
#상위집합(>=,issuperset(),부분집합의 반대개념)
#리스트 딕셔너리 컴프리핸션

In [208]:
a_set={number for number in range(1,6) if number%3=1}
a_set

SyntaxError: ignored

In [209]:
frozenset({3,1,2}) #sort 개념

frozenset({1, 2, 3})

In [210]:
f=frozenset([3,2,1])
f.add(4)

AttributeError: ignored

In [ ]:
# 리스트 튜플은 대괄호에 인덱스값 들어감. 
# 셋은 인덱스와 키가 없다. 
# 딕셔너리는 키값을 활용

In [213]:
fruits1=['apple','banana','cherry']
fruits2=('tomato','mango','peach')
fruits3={'a':'tomato','b':'mango','c':'peach'}

fruits1[1]

'banana'

In [214]:
fruits2[2]

'peach'

In [215]:
fruits3['a']

'tomato'

In [217]:
e2f={'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'cat': 'chat', 'dog': 'chien', 'walrus': 'morse'}

In [218]:
e2f['walrus']

'morse'

In [249]:
for k,v in e2f.items():
  f2e={v,k}
  dict(chien='dog',cat='chat',walrus='morse')
  print(f2e)

{'chien', 'dog'}
{'cat', 'chat'}
{'walrus', 'morse'}

In [238]:
[k for k,v in e2f.items() if v=='chien']

['dog']

In [228]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [ ]:
딕셔너리 키와 값으로 구성되며 항목의 순서는 따지지 않는다.

In [2]:
menu={1:'식비',2:'쇼핑비',3:'여행비'}
menu[2]

'쇼핑비'

In [ ]:
딕셔너리 생성 dict()

In [14]:
people = dict[[1,'어무니'],[2,'아부지']]
people

TypeError: ignored

In [ ]:
예약어를 key로 사용할 수 없음.

In [12]:
menu=[[1,'a'],[2,'b'],[3,'c']]
dict(menu)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
리스트를 딕셔너리로 변경하려면 키와 값이 쌍으로 존재해야 변경이 가능

In [17]:
menu=[('breakfast','초밥'),('lunch','치킨'),('dinner','스테이크')]
dict(menu)

{'breakfast': '초밥', 'dinner': '스테이크', 'lunch': '치킨'}

In [ ]:
문자 두개씩 넣으면 키 값 구분해서 들어감.
두개 초과면 안됨. 두자씩만 가능

In [30]:
menu={'breakfast':'초밥','lunch':'치킨','dinner':'스테이크'}
menu['snack']='sandwich'
menu['attend']=True
menu['attend']

True

In [ ]:
맨 마지막 것만 출력
중간것은 출력안됨

In [31]:
'mango' in menu

False

In [32]:
'attend' in menu

True

In [33]:
menu.get('mango','none of this applies')

'none of this applies'

In [34]:
menu.get('absent')

In [35]:
menu.keys()

dict_keys(['breakfast', 'lunch', 'dinner', 'snack', 'attend'])

In [40]:
for i in menu.keys():
  print(i)

breakfast
lunch
dinner
snack
attend

In [41]:
menu.values()

dict_values(['초밥', '치킨', '스테이크', 'sandwich', True])

In [43]:
for i in menu.values():
  print(i)

초밥
치킨
스테이크
sandwich
True

In [44]:
menu.items()

dict_items([('breakfast', '초밥'), ('lunch', '치킨'), ('dinner', '스테이크'), ('snack', 'sandwich'), ('attend', True)])

In [45]:
for i in menu.items(): #변수 하나에 저장하면 튜플 형태로 나온다. 
  print(i)

튜플 형태로 나옴

('breakfast', '초밥')
('lunch', '치킨')
('dinner', '스테이크')
('snack', 'sandwich')
('attend', True)

In [46]:
for k,v in menu.items():
  print(k,v)

breakfast 초밥
lunch 치킨
dinner 스테이크
snack sandwich
attend True

In [ ]:
변수 keyword :예약어 reserved word X (tuple, list, print, def, class)

In [51]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [52]:
fruits={'apple':'사과','banana':'바나나','cherry':'체리'}
menu={1:"짬뽕",2:"짜장면",3:"탕수육"}
{**fruits, **menu} # 두개의 딕셔너리 결합

{1: '짬뽕', 2: '짜장면', 3: '탕수육', 'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [ ]:
update 최근걸로 바꿔죠, 새로운것 추가하기

In [53]:
menu.update(fruits)
menu

{1: '짬뽕', 2: '짜장면', 3: '탕수육', 'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [59]:
del menu[2]
menu

{3: '탕수육', 'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [60]:
del menu[1] # 지울 값이 없으면 키에러 
menu

KeyError: ignored

In [61]:
first={'a':1,'b':2}
first.pop('b')

2

In [62]:
first.pop('c','none') #해당되는 것 없을때 none 출력

'none'

In [63]:
menu[1]='초밥'
menu

{1: '초밥', 3: '탕수육', 'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [66]:
first
first['b']=2
first['b']=3
first

{'a': 1, 'b': 3}

In [67]:
second=first
first['c']=3
second

{'a': 1, 'b': 3, 'c': 3}

In [ ]:
second = first.copy #기존 복사본만 가져와서 기존값이 변경되어도 수정이 반영되지 않음. 얕은 복사

In [ ]:
second.first.copy()
first['d']=4

In [ ]:
import copy # 깊은 복사는 사본의 변경사항도 원본과 동일하게 수정됨.

In [75]:
name='성 낙 원'
name_list=name.split()
name_list

['성', '낙', '원']

In [76]:
number='010-7275-7595'
number=number.split('-')
number

['010', '7275', '7595']

In [77]:
list(name)

['성', ' ', '낙', ' ', '원']

In [78]:
list(number)

['010', '7275', '7595']

In [83]:
word='letter'
letter_count={letter:word.count(letter) for letter in word}
letter_count

{'e': 2, 'l': 1, 'r': 1, 't': 2}

In [85]:
#1~10까지의 수를 리스트 컴프리헨션을 이용해서 리스트 만들기
num_list=[i for i in range(1,11)]
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
even_list=[i for i in range (2,11,2)]
even_list

[2, 4, 6, 8, 10]

In [87]:
num_list=[i for i in range(1,11) if i %2==0]
num_list

[2, 4, 6, 8, 10]

In [89]:
num1_list=[i for i in range(10,0,-1)]
num1_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [90]:
num1_list=[i for i in range(10,0,-1) if i%2==1]
num1_list

[9, 7, 5, 3, 1]

In [ ]:
#딕셔너리를 셋으로 바꾸면 키들만 모인다.

In [93]:
menu={1:'초밥',2:'치킨',3:'스테이크'}
len(menu)

3

In [95]:
s=set((1,2,3)) #셋은 한 덩어리만 가져감. set expected at most 1 arguments, 매개변수 하나만 
s
s.add(4)
s
# 셋추가는 add 메서드 사용, set()메서드는 튜플을 셋으로 바꿈.

{1, 2, 3, 4}

In [104]:
s.add(5)
s.add(6)
s
s.remove(5)
s.remove(6)
s

{1, 2, 4}

In [106]:
menu={
    '최상':{"탕수육","water melon",'mango','apple'},
    '상':{"짬뽕","mango","grape"},
    '보통':{"짜장면","apple"}
}

for k,v in menu.items():
  if v & {'짬뽕','짜장면'}: # $가 or 역할
    print(k)

상
보통

In [114]:
menu={
    '최상':{"탕수육","water melon",'mango','apple'},
    '상':{"짬뽕","mango","grape"},
    '보통':{"짜장면","apple"}
}

for k,v in menu.items():
  if v=='짬뽕' and v=='짜장면':
    print(k)

In [122]:
for k,v in menu.items():
  if v=='mango' and not v & {'탕수육','watermelon'}: # $가 or 역할
    print(k)