<a href="https://colab.research.google.com/github/radanim/TIL/blob/master/chapter_9_%ED%95%A8%EC%88%98%2B%ED%81%B4%EB%9E%98%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add(a,b):
  return a+b

In [2]:
a=3
b=4
c=add(a,b)
print(c)

7

In [ ]:
#함수정의 부르려고, 여러번 사용하려고

In [3]:
def sub(a,b):
  return a-b

In [4]:
a=3
b=4
c=sub(a,b)
print(c)

-1

In [5]:
def mul(a,b):
  return a*b

In [6]:
c=mul(a,b)
print(c)

12

In [17]:
def div(a,b):
  return a/b

In [18]:
c=div(a,b)
print(c)

0.75

In [16]:
a+b

7

In [19]:
print(add(3,4))

7

In [ ]:
def 함수이름(매개변수):
  <수행할 문장>

  : 결과값

In [20]:
def say():
  return 'Hi'

In [25]:
print('Hi')

Hi

In [26]:
a=say()
a

'Hi'

In [27]:
def add(a,b):
  print("%d, %d의 합은 %d입니다." %(a,b,a+b)) 

# d decimal
# s string
# f floating

In [28]:
add(3,4)

3, 4의 합은 7입니다.

In [31]:
a=add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [ ]:
입력값이 O, X , 출력값이 O,X 총 4가지 경우의 수

In [ ]:
입력값이 여러개면 
def 함수이름(*매개변수):
  <수행할 문장>

In [ ]:
*args - argument

In [32]:
def add_many(*args):
  result=0
  for i in args:
    result = result+i
  return result

In [37]:
add_many(1,2,3)

6

In [39]:
add_many(1,2,3,4,5,6,7,8,9,10)

55

In [40]:
def add_mul(choice,*args):
  if choice=="add":
    result=0
    for i in args:
      result=result+i
  elif choice=="mul":
    result=1
    for i in args:
      result=result*i
  return result

In [43]:
add_mul("add",1,2,3)

6

In [44]:
add_mul("mul",1,2,3,4,5)

120

In [ ]:
kwargs 키워드 파라미터
kw 키워드

 def print_kwargs(**kwargs):
   print(kwargs)
# ** 쌍이다.

In [45]:
def print_kwargs(**kwargs): print(kwargs)

In [47]:
print_kwargs(a=1)

{'a': 1}

In [48]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [ ]:
keyword argument 딕셔너리 형태로 만들어준다.

In [49]:
def add_and_mul(a,b):
  return a+b,a*b

In [50]:
add_and_mul(7,8) # 튜플값 하나, 한 덩어리로 넘겨준다.

(15, 56)

In [51]:
result1, result2=add_and_mul(3,4)

In [52]:
def add_and_mul(a,b): #return이 먼저 돌아가면 끝남.
  return a+b
  return a*b

In [53]:
add_and_mul(3,4)

7

In [71]:
def say_nick(nick):
  if nick=="바보":
    return
  print("나의 별명은 %s 입니다." %nick)

In [72]:
say_nick("반짝반짝")

나의 별명은 반짝반짝 입니다.

In [73]:
say_nick("성스마트")

나의 별명은 성스마트 입니다.

In [74]:
say_nick("바보")

In [75]:
def say_myself(name, old, man=True): # 내가 말 안하면 True인줄 알아라, 기본값, default
  print("나의 이름은 %s입니다" %name)
  print("나이는 %d살입니다" %old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [98]:
say_myself("성낙원", 20,'false')

나의 이름은 성낙원입니다
나이는 20살입니다
남자입니다.

In [99]:
say_myself("성낙원", 24, False)

나의 이름은 성낙원입니다
나이는 24살입니다
여자입니다.

In [100]:
say_myself("성낙원", 34, 0)

나의 이름은 성낙원입니다
나이는 34살입니다
여자입니다.

In [102]:
say_myself("성낙원", 34, None)

나의 이름은 성낙원입니다
나이는 34살입니다
여자입니다.

In [105]:
def say_myself(name, man=True, old): # 내가 말 안하면 True인줄 알아라, 기본값, default 값은 마지막에
  print("나의 이름은 %s입니다" %name)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")
  print("나이는 %d살입니다" %old)

SyntaxError: ignored

In [106]:
a=1 # 전역번수, 아무리 지역변수에서 함수 설정하고 바꿀려고해도, 전역변수 설정해놓으면 변하지 않는다.
def vartest(a):
  a=a+1 # 지역변수

vartest(a)
print(a)

1

In [109]:
def vartest(hello):
  hello=hello+1

NameError: ignored

In [110]:
def vartest(a): #리턴값이 없음. 
  a=a+1

vartest(3)
print(a) #여기서 a와 함수의 a는 다르다. 전역변수

1

In [111]:
a=1
def vartest(a):
  a=a+1
  return a

a=vartest(a)
print(a)

2

In [120]:
a=1
def vartest(a):
  a=a+1
  return a

a=vartest(a)
print(a)

1

In [124]:
a=1
def vartest():
  global a
  a=a+1

vartest()
print(a)

2

In [125]:
add = lambda a,b:a+b # 함수이름 = lambda 매개변수: 해야할일
result=add(3,4)
print(result)

7

In [126]:
def add(a,b): # 함수정의 함수(매개변수)
  return a+b # 해야될 일

add(3,4)

7

In [130]:
# 클래스 시작
result=0 

def add(num):
  global result
  result += num
  return result

print(add(3))
print(add(4))

3
7

In [137]:
class Calculator:
  def __init__(self): # 일반 함수가 아니라 클래스를 만들면 자동으로 생성
    self.result=0

  def add(self, num): #함수가 아니라 메서드라고 부른다. 
    self.result += num
    return self.result

  def sub(self, num): #함수가 아니라 메서드라고 부른다. 
    self.result -= num
    return self.result

  def mul(self, num): #함수가 아니라 메서드라고 부른다. 
    self.result *= num
    return self.result

  def div(self, num): #함수가 아니라 메서드라고 부른다. 
    self.result /= num
    return self.result

cal1=Calculator()
cal2=Calculator()

#cal1,2는 객체,대상,object, 빵틀에 찍어서 나오는 결과
#calculator()는 클래스  

print(cal1.add(3)) #cal1 에 소속된 add 메서드, .으로 어디에 소속되었는지 표시 
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

# __ 일반 사용자가 쓰지 않고, hidden name. 함부로 건드릴수 없는 것. 던더. 내부에서 건드리지 못하게.  
print(cal1.sub(3))
print(cal1.mul(3))
print(cal1.div(2))
print(cal2.add(1))

# 여러가지 기능, 정보를 보존하기 위해 클래스를 사용 
# 설계도면은 클래스, 만들어진 피조물은 객체

3
7
3
10
4
12
6.0
11

In [ ]:
객체와 인스턴스의 차이?
클래스의 사례를 인스턴스라고 한다. 
클래스과 객체의 관계를 설명 
a=cookie()
a는 coockie의 인스턴스

In [ ]:
a=FourCal()

In [ ]:
. 은 소속 a안에 있는 set data 일 시키겠다. 
a.setdata(4,2)

In [138]:
class FourCal:
  pass

In [140]:
a=FourCal()
type(a)

__main__.FourCal

In [154]:
class FourCal:
  def setdata(self, first, second): # 클래스 안에 def로 시작되고 ()로 갇혀져 있어서 메소드라고 한다. 
    self.first=first
    self.second=second
  def add(self):
    result=self.first+self.second
    return result 
  def sub(self):
    result=self.first-self.second
    return result
  def mul(self):
    result=self.first*self.second
    return result 
  def div(self):
    result=self.first/self.second
    return result

In [146]:
a=FourCal()
a.setdata(4,2)

In [147]:
print(a.add())

6

In [165]:
a=FourCal()
b=FourCal()
a.setdata(4,2)
b.setdata(3,8)
b.add()
b.sub()
b.mul()
b.div()
#객체 a,b의 객체변수 first, secound

0.375

In [ ]:
생성자 클래스 실행하면 자동 작동

In [166]:
class FourCal:
  def __init__(self,first,second):
    self.first=first
    self.second=second
  def setdata(self, first, second): # 클래스 안에 def로 시작되고 ()로 갇혀져 있어서 메소드라고 한다. set data 남기는 이유 나중에 값을 바꾸려고 
    self.first=first
    self.second=second
  def add(self):
    result=self.first+self.second
    return result 
  def sub(self):
    result=self.first-self.second
    return result
  def mul(self):
    result=self.first*self.second
    return result 
  def div(self):
    result=self.first/self.second
    return result

In [167]:
class 클래스 이름(상속할 클래스 이름, 아빠나 엄마)
메소드와 변수를 상속

In [168]:
class MoreFourCal(FourCal): # 클래스 상속받는 이유? : 기존 클래스를 빠르게 수정 보완해서 비슷한 다른 클래스 활용하려고, 특히 라이브러리 형태나 수정이 허용되지 않을시에
  pass

In [169]:
a=MoreFourCal(4,2)

In [174]:
a.add()
a.mul()
a.sub()
a.div()

2.0

In [175]:
class MoreFourCal(FourCal):
  def pow(self):
    result=self.first**self.second
    return result

In [177]:
a=MoreFourCal(4,2)
a.pow()

16

In [ ]:
# 오버라이딩: 덮어쓰기

In [178]:
a=FourCal(4,0) # 오류가나면 넘어가라, 예외처리. 오류가 나도 계속 넘어가고 이어질수 있도록
a.div()

ZeroDivisionError: ignored

In [180]:
class SafeFourCal(FourCal):
  def div(self):
    if self.second==0: # 나누는 값이 0인 경우 0을 리턴하도록 수정
      return 0
    else:
      return self.first/self.second 
# 클래스로 만든 변수는 모든 객체에 공유된다.

In [ ]:
함수: 이름이 붙여진 코드의 모음, 일을 할수 있는 애, 특정 기능을 수행, 부를수 있음. 해야할 일이 안에 들어있다.
함수 사용 이유? 긴 코드를 관리하기 용이하고 재사용이 쉬움
함수는 define, call이 있음. 정의하기 + 호출하기
정의하기 - 매개변수(모든타입), 생략가능
호출하기 - 결과 반환

pass 쓰는 이유? 그냥 넘어가는 이유? 지금 당장 구체적으로 설명하기 어려울때 일단 넘어가기, 정의해놓고 시작가능
함수와 메소드의 차이: 객체 안에 있느냐, 클래스 안에 있느냐 
클래스는 틀, 객체는 찍어낸 피조물. 하나의 클래스로 여러개의 객체 생성 가능

In [181]:
def agree():
  return True

In [186]:
if agree():
  print("good!")
else:
  print("It was unexpected")

good!
It was unexpected

In [192]:
def echo(anything):
  return anything+anything

In [191]:
echo('love') #함수 echo() 호출시 안에

'lovelove'

In [194]:
def commentary(color):
  if color =='red':
    return "tomato"
  elif color == 'white':
    return "radish"
  elif color =='orange':
    return "carrot"
  else: 
    return "I don't have it."

In [195]:
commentary("red")

'tomato'

In [196]:
commentary("white")

'radish'

In [197]:
commentary("orange")

'carrot'

In [198]:
commentary('1')

"I don't have it."

In [224]:
# 두 수를 입력 받아 더하기(add함수) 결과 도려받아 출력하기 
def add(i,j):
  return i+j
a=int(input('첫번째 수: '))
b=int(input('두번째 수: '))
result=add(a,b)
print(result)

첫번째 수: 3
두번째 수: 5
8

In [228]:
def add(i,j):
  return i+j

for k in range(3):
  a=int(input('첫번째 수: '))
  b=int(input('두번째 수: '))
  result=add(a,b)
  print(result)

첫번째 수: 3
두번째 수: 5
8
첫번째 수: 6
두번째 수: 7
13
첫번째 수: 8
두번째 수: 4
12

In [231]:
thing=None
if thing:
  print("it's some thing.")
else:
  print("it's nothing")

it's nothing

In [236]:
def whatis(thing):
  if thing == None:
    print(thing, "is None.")
  elif thing:
    print(thing,"is True.")
  else:
    print(thing, "is False.")

In [237]:
whatis(None)

None is None.

In [238]:
whatis(True)

True is True.

In [240]:
whatis(False)

False is False.

In [243]:
def menu(A,B,C):
  return {'a':A,'b':B,'c':C}

menu("apple","banana","cherry")

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [245]:
def menu(A,B,C):
  return {'a':A,'b':B,'c':C}

menu(A="banana",C="apple",B="cherry")

{'a': 'banana', 'b': 'cherry', 'c': 'apple'}

In [246]:
def cart(arg, result=[]): #result=[] default값, 초기화는 아님.
  result.append(arg)
  print(result)

cart('a')

['a']

In [247]:
cart('b')

['a', 'b']

In [248]:
cart('c')

['a', 'b', 'c']

In [249]:
def works(arg):
  result=[] #works() 함수 호출시마다 새롭게!
  result.append(arg)
  return result

works('a')
works('b')

['b']

In [250]:
def noncart(arg, result=None):
  if result is None:
    result=[]
  result.append(arg)
  print(result)

noncart('a')
noncart('b')

['a']
['b']

In [251]:
noncart('a',['b','c'])

['b', 'c', 'a']

In [252]:
def print_args(*args):
  print('Positional tuple:', args)

In [253]:
print_args(1,2,3,4,5)

Positional tuple: (1, 2, 3, 4, 5)

In [254]:
print_args() #안에 인수없이 함수 호출하면 args에 아무것도 없으므로

Positional tuple: ()

In [256]:
print_args(1,2,3)

Positional tuple: (1, 2, 3)

In [257]:
print_args('a','b','c','d','e')

Positional tuple: ('a', 'b', 'c', 'd', 'e')

In [258]:
def print_kwargs(**kwargs): #** 두개는 쌍으로 딕셔너리 형태로 표현
  print('Keyword arguments:',kwargs)

In [261]:
print_kwargs(wine='meriot',entree='mutton',dessert='macaroon') #이름=값 형식 > 딕셔너리로!

Keyword arguments: {'wine': 'meriot', 'entree': 'mutton', 'dessert': 'macaroon'}

In [260]:
print_kwargs()

Keyword arguments: {}

In [262]:
def print_data(data,*,start=0,end=100): # * 없어도됨.
  for value in (data[start:end]):
    print(value)

In [263]:
data=['a','b','c','d','e','f']
print_data(data)

a
b
c
d
e
f

In [ ]:
리스트 가변 추가 삭제 가능
독스트링 문서 스트링 '''로 문서 주석표시

In [265]:
def echo(anything):
  '''
  'echo returns its input argument'
  '''
  return anything

In [266]:
def print_if_true(thing, check):
  '''
  print
  '''
  if check:
    print(thing)

In [267]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    'echo returns its input argument'

In [268]:
print(echo.__doc__)
#더블언더바(__:던더(dunder)-파이썬에서 내부 사용 목적으로 만들어진 변수)

  'echo returns its input argument'

In [269]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    print

In [270]:
# 함수를 인수로 사용할 수 있다.
def run_something(func):
  func()

In [272]:
def answer():
  print(42)

In [273]:
run_something(answer)

42

In [274]:
#args = 악스
def add_args(arg1,arg2):
  print(arg1+arg2)

In [275]:
type(add_args)

function

In [276]:
add_args(5,9)

14

In [277]:
# 함수도 객체다, 함수도 매개변수처럼 넘겨주고, 수행할 수 있다.
def run_something_with_args(func,arg1,arg2):
  func(arg1,arg2)

In [278]:
run_something_with_args(add_args,5,9)

14

In [279]:
def sum_args(*args):
  return sum(args)

In [280]:
def outer(a,b):
  def inner(c,d):
    return c+d
  return inner(a,b)

In [281]:
outer(4,7)

11

In [282]:
def knights2(saying): #함수는 항상 불려야 실행된다. 자체적으로 실행할 수 없다. 
  def inner2():
    return("We are the knights who say: '%s'" %saying)
  return inner2

In [286]:
a=knights2('Duck')

In [287]:
b=knights2('Hasenpfeffer')

In [285]:
type(a)

function

In [288]:
type(b)

function

In [289]:
a

In [290]:
b

In [291]:
a()

"We are the knights who say: 'Duck'"

In [292]:
b() #동적으로 만들어진다.

"We are the knights who say: 'Hasenpfeffer'"

In [ ]:
# lambda #상속, 다중 상속도 가능하다.